.pto-table {
    text-align: center;
    white-space: nowrap;
}

.pto-table>th, .pto-table>td {
    border: 0.15em solid white;
    border-collapse: collapse;
}

.pto-table>thead {
    background-color: #888;
}

.pto-table>tbody>tr:nth-child(2n) {
    background-color: #ddd;
}

.pto-table>tbody>tr:nth-child(2n + 1) {
    background-color: #ccc;
}

.charts-div>div:nth-child(2n) {
    background-color: #ddd;
}

.chart-div {
    padding: 1em;
}

svg {
    background-color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 3em auto;
    border: 0.1em solid #888;
    width: 100%;
    max-width: fit-content;
    height: 92%;
    max-height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 0.1em 1em;
    background-color: black;
    color: white;
}

.modal-body {
    margin: 0.5em;
    height: inherit;
    max-height: fit-content;
}

#obsNav {
    margin-bottom: 0.5em;
    text-align: center;
}

#obsTableDiv {
    overflow: auto;
    height: inherit;
    max-height: fit-content;
}

#obsTable {
    font-size: 12px;
}