<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>PTO - Observatory</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

    <script>
     function getDataTotal() {
       var msg = '<span>Loading...</span>';
      document.getElementById('show_data_total').innerHTML = 
            '<tr><td>' + msg + '</td><td>' + msg + '</td></tr>';

       var name = encodeURIComponent($('#cond_name').val());

       $.ajax({
         'url': '/api/conditions_total?name=' + name})
       .done(function(data) {
         var rows = []

         $.each(data, function(key, item) {
            rows.push('<tr><td>' + item._id + '</td><td>' + item.count + '</td></tr>');
          });

         document.getElementById('show_data_total').innerHTML = rows.join("\n");

         if(rows.length == 0) {
           var err = '<span class="info">(no data to show)</span>';
         document.getElementById('show_data_total').innerHTML = 
            '<tr><td>' + err + '</td><td>' + err + '</td></tr>';
         }

        })
       .fail(function() {
         var err = '<span class="error">(error: could not load data)</span>';
         document.getElementById('show_data_total').innerHTML = 
            '<tr><td>' + err + '</td><td>' + err + '</td></tr>';
        });
     }


     function getData() {
      var msg = '<span>Loading...</span>';
      document.getElementById('show_data').innerHTML = 
            '<tr><td>' + msg + '</td><td>' + msg + '</td><td>' + msg + '</td></tr>';

      var dip = encodeURIComponent($('#dip_ip').val());
      var sip = encodeURIComponent($('#sip_ip').val());
      $.ajax({
         'url': '/api/conditions?dip=' + dip + '&sip=' + sip})
       .done(function(data) {
         var rows = []

         $.each(data, function(key, item) {
            var sip = item._id;
            var conditions = item.data;
            $.each(conditions, function(key, item_condition) {
               rows.push('<tr><td>'+sip+'</td><td>' + item_condition.condition + '</td><td>'+item_condition.count+'</td></tr>');
            });
          });

         document.getElementById('show_data').innerHTML = rows.join("\n");

         if(rows.length == 0) {
           var err = '<span class="info">(no data to show)</span>';
         document.getElementById('show_data').innerHTML = 
            '<tr><td>' + err + '</td><td>' + err + '</td><td>' + err + '</td></tr>';
         }

        })
       .fail(function() {
         var err = '<span class="error">(error: could not load data)</span>';
         document.getElementById('show_data').innerHTML = 
            '<tr><td>' + err + '</td><td>' + err + '</td><td>' + err + '</td></tr>';
        });
     }
    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PTO</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="./">Home</a></li>
            <li><a href="./uploadstats">Upload statistics</a></li>
            <li class="active"><a href="./observatory">Observatory</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <h1>Observatory</h1>

      <p>Show conditions for an endpoint. Startpoint can be left blank.</p>

      <div style="width: 55%;">
      <form action="javascript:getData()">
        <fieldset class="form-group">
          <label>Startpoint (optional)</label>
          <input id="sip_ip" type="text" class="form-control" placeholder="">
          <small class="text-muted">Enter an IPv4 or IPv6 address.</small> 
        </fieldset>
        <fieldset class="form-group">
          <label>Endpoint (required)</label>
          <input id="dip_ip" type="text" class="form-control" placeholder="*">
          <small class="text-muted">Enter an IPv4 or IPv6 address.</small>
        </fieldset>
        <button type="submit" class="btn btn-primary">Query data</button>
      </form>
      </div>
      
      <div style="width: 55%;">
      <table class="table">
        <thead>
          <tr><th>Endpoint</th><th>Condition</th><th>Occurences #</th></tr>
        </thead>
        <tbody id="show_data">
          <tr><td><span class="info">(no data to show)</span></td><td id="uploads_total"><span class="info">(no data to show)</span></td><td><span class="info">(no data to show)</span></td></tr>
        </tbody>
      </table>
      </div>

      <p>Show total condition counts.</p>


      <div style="width: 55%;">
      <form action="javascript:getDataTotal()">
        <fieldset class="form-group">
          <label>Condition name</label>
          <input id="cond_name" type="text" class="form-control" placeholder="ecn.connectivity.works, ecn.connectivity.broken">
          <small class="text-muted">Enter the name of a condition. Use comma to separate multiple conditions.</small> 
        </fieldset>
        <button type="submit" class="btn btn-primary">Query data</button>
      </form>
      </div>

      <div style="width: 55%;">
      <table class="table">
        <thead>
          <tr><th>Condition</th><th>Occurences #</th></tr>
        </thead>
        <tbody id="show_data_total">
          <tr><td id="uploads_total"><span class="info">(no data to show)</span></td><td><span class="info">(no data to show)</span></td></tr>
        </tbody>
      </table>
      </div>

    </div><!-- /.container -->
  </body>
</html>
